// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: rgba(244, 241, 245, 1.0); 
}

nav {
  height: 100px;
  position: relative;
  // background-color: rgba(217, 237, 247, 1.0);
  position: relative;
  #buttons { 
    // background-color: rgba(107, 166, 195, 1.0);
    padding-top: 10px;
    padding-bottom: 10px;
    bottom:0px;
    position: absolute;
    width: 100%;
    padding-left: 10px;
    border-bottom: 1px solid rgba(163, 163, 163, 1.0);
    z-index: 0;
  }
}

#user_info {
  font-family: 'Poiret One', cursive;
  color: rgba(163, 163, 163, 1.0);
  padding-left: 10px;
  span {
    color: rgba(107, 166, 195, 1.0);
  }
}

#logo1 {
  box-sizing: border-box;
  position: absolute;
  right: 20px;
  bottom: 1px;
  width: 200px;
  height: 80px;
  background-image: url('dolphin_logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

#logo2 {
  position: absolute;
  right: 220px;
  bottom: 0px;
  width: 120px;
  height: 40px;
  background-image: url('dolphin_logo2.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

#space1 {
  width: 11px;
  border: 2px solid white;
  position: absolute;
  bottom: -1%;
  right: 63px;
  z-index: 2;
}

#space2 {
  width: 6px;
  border: 2px solid white;
  position: absolute;
  bottom: -1%;
  right: 191px;
  z-index: 2;
}

#space3 {
  width: 84px;
  border: 1px solid white;
  position: absolute;
  bottom: -1px;
  right: 253px;
  z-index: 2;
}

#photo_frame {
  margin: 2% auto;
  width: 500px;
  #photo_display{
    display: table;
    margin: 0 auto;
    border: 1px solid rgba(163, 163, 163, 1.0);
    border-radius: 5px;
    background-color: white;
    padding: 2%;
    position: relative;
    color: black;
    #photo_border {
      text-align: center;
      img {
        margin: 0;
        padding: 0;
        text-align: center;
        li img {
          border-radius: 5px;
        }
      }
    }
  }
}
li {
  list-style-type: none;
}
.field {
  display: inline-block;
}
#actions {
  margin: 0;
  margin-bottom: 0;
}

#add_photos, #identify, #practice, #explore, #guess_button, #identify_button, #update_button, #create_button {
  background-color: white;
  border: 1px solid rgba(163, 163, 163, 1.0);
  // width: 15%;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 22px;
}
#add_photos:focus, #identify:focus, #practice:focus, #explore:focus, #guess_button:focus, #identify_button:focus, #update_button:focus, #create_button:focus {
  outline:thin dotted;
  outline:5px auto -webkit-focus-ring-color;
  outline-color: rgba(107, 166, 195, 1.0);
  outline-offset:-2px
}

#add_photos:hover, #identify:hover, #practice:hover, #explore:hover, #next_practice_image:hover, #next_identify_image:hover, #guess_button:hover, #identify_button:hover, #update_button:hover, #create_button:hover   {
  color: rgba(107, 166, 195, 1.0);
}

.btn .btn-default {
  color: rgba(163, 163, 163, 1.0);
}

#add_photos, #identify, #practice, #explore {
  width: 15%
}

#update_button, #create_button {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 30%;
  float: right;
}

#guess_button, #identify_button {
  width: 30%;
}

form, #new_identification, #new_guess, #image_image {
  padding-top: 2%;
  font-family: 'Poiret One', cursive;
  color: rgba(163, 163, 163, 1.0);
}

#next {
  font-size: 20px;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
}

.btn-selected {
  color: rgba(107, 166, 195, 1.0)!important;
  outline:thin dotted;
  outline:5px auto -webkit-focus-ring-color;
  outline-color: rgba(107, 166, 195, 1.0);
  outline-offset:-2px
}


#next_practice_image, #next_identify_image {
  position: absolute;
  top: 45%;
  left: 105%;
  padding-top: 2%;
  padding-bottom: 2%;
  color: rgba(163, 163, 163, 1.0);
  background-color: white;
  border: 1px solid rgba(163, 163, 163, 1.0);
  width: 15%;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 22px;
}

#next_practice_image:focus, #next_identify_image:focus {
  outline:thin dotted;
  outline:5px auto -webkit-focus-ring-color;
  outline-color: rgba(107, 166, 195, 1.0);
  outline-offset:-2px
}

#guess_button, #identify_button {
  float: right;
  padding-left: 0px;
  padding-right: 0px;
}

#magnify_tab {
  font-size: 20px;
  text-shadow: 0 1px 0 #fff;
  padding: 1%;
  color: rgba(163, 163, 163, 1.0);
  border: 1px solid rgba(163, 163, 163, 1.0);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
  position: absolute;
  left: 100%;
  top: 52px;
  :hover {
    color: rgba(107, 166, 195, 1.0);
  }
}

// Upload images
#image_tab, #map_tab {
  font-size: 20px;
  text-shadow: 0 1px 0 #fff;
  padding: 1%;
  color: rgba(163, 163, 163, 1.0);
  border: 1px solid rgba(163, 163, 163, 1.0);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
  position: absolute;
  left: 100%;
  top: 20px;
  :hover {
    color: rgba(107, 166, 195, 1.0);;
  }
}

#lat_long {
  margin-top: 2%;
}

.form-control{
  position: relative;
  font-size: 13px;
  color: rgba(163, 163, 163, 1.0);
  border-color: rgba(163, 163, 163, 1.0);
}

.leaflet-google-layer{
    z-index: 0 !important;
}
.leaflet-map-pane{
    z-index: 100;
}

#update_image {
  width: 480px;
}
