// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: rgba(244, 241, 245, 1.0); 
}

nav {
  height: 100px;
  position: relative;
  // background-color: rgba(217, 237, 247, 1.0);
  position: relative;
  #buttons { 
    // background-color: rgba(107, 166, 195, 1.0);
    padding-top: 10px;
    padding-bottom: 10px;
    bottom:0px;
    position: absolute;
    width: 100%;
    padding-left: 10px;
    border-bottom: 2px solid rgba(163, 163, 163, 1.0);
  }
}

#user_info {
  color: rgba(163, 163, 163, 1.0);
  padding-left: 10px;
  span {
    color: rgba(107, 166, 195, 1.0);
  }
}

#logo1 {
  position: absolute;
  left: 82%;
  width: 200px;
  height: 80px;
  background-image: url('dolphin_logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}

// #logo2 {
//   position: absolute;
//   left: 70%;
//   bottom: 0%;
//   width: 200px;
//   height: 40px;
//   background-image: url('dolphin_logo2.png');
//   background-repeat: no-repeat;
//   background-size: contain;
// }

#photo_frame {
  margin: 2% auto;
  width: 500px;
  #photo_display{
    display: table;
    margin: 0 auto;
    border: 1px solid rgba(163, 163, 163, 1.0);
    border-radius: 5px;
    background-color: white;
    padding: 2%;
    position: relative;
    color: black;
    #photo_border {
      text-align: center;
      img {
        margin: 0;
        padding: 0;
        text-align: center;
        li img {
          border-radius: 5px;
        }
      }
    }
  }
}
li {
  list-style-type: none;
}
.field {
  display: inline-block;
}
#actions {
  margin: 0;
  margin-bottom: 0;
}

#add_photos, #identify, #practice, #explore, #guess_button, #next_practice_image, #next_identify_image, #identify_button {
  color: rgba(163, 163, 163, 1.0);
  background-color: white;
  border: 1px solid rgba(163, 163, 163, 1.0);
  width: 15%;
  text-align: center;
}
#add_photos:hover, #identify:hover, #practice:hover, #explore:hover, #next_practice_image:hover, #next_identify_image:hover, #guess_button:hover, #identify_button:hover  {
  color: rgba(107, 166, 195, 1.0);
}

#next_practice_image, #next_identify_image {
  position: absolute;
  top: 45%;
  left: 105%;
  padding-top: 4%;
  padding-bottom: 4%;
}

#guess_button, #identify_button {
  float: right;
}

#magnify_tab {
  font-size: 20px;
  text-shadow: 0 1px 0 #fff;
  padding: 1%;
  color: rgba(163, 163, 163, 1.0);
  border: 1px solid rgba(163, 163, 163, 1.0);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
  position: absolute;
  left: 100%;
  top: 52px;
  :hover {
    color: rgba(107, 166, 195, 1.0);
  }
}

// Upload images
#image_tab, #map_tab {
  font-size: 20px;
  text-shadow: 0 1px 0 #fff;
  padding: 1%;
  color: rgba(163, 163, 163, 1.0);
  border: 1px solid rgba(163, 163, 163, 1.0);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
  position: absolute;
  left: 100%;
  top: 20px;
  :hover {
    color: rgba(107, 166, 195, 1.0);;
  }
}

#lat_long {
  margin-top: 2%;
}

#new_guess {
  padding-top: 1%;
}

.form-control{
  position: relative;
  font-size: 13px;
  color: rgba(163, 163, 163, 1.0);
  border-color: rgba(163, 163, 163, 1.0);
}

.leaflet-google-layer{
    z-index: 0 !important;
}
.leaflet-map-pane{
    z-index: 100;
}

#update_image {
  width: 480px;
}
