<div id="photo_display">
  <div id="map"></div>

<!--   <div class="field">
    <label for="identification_common_name">Common name</label>
    <select id="identification_common_name" class="form-control"></select>
  </div> -->
</div>



