<div id="photo_display">

  <%=render 'nextImage'%>
  <%=render 'identifications/form'%>
 
 <button type="button" id="next_identify_image" class="btn btn-default" aria-label="Left Align">
   <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></br>Next</span>
 </button>
</div>

