
<button id="identify" type="button">Identify</button>
<button id="practice" type="button">Practice</button>

<%=render 'nextImage'%>


<%=render 'identificationForm'%>



<%= link_to 'New Image', new_image_path %>
<%#= render 'form' %>