
<div id="photo_display">
  <ul>
    <li>
      <%= image_tag @image.image_url(:thumb).to_s %>
    </li>
    <li>
      <b>Date time:</b><%= @image.date_time %>
    </li>
    <li>
      <b>Lat:</b><%= @image.lat %>
    </li>
    <li>
      <b>Long:</b><%= @image.long %>
    </li>
  </ul>
</div>

<div id="map"></div>
